structure.md
src/__pycache__
*.pyc
__pycache__/
.DS_Store
.ipynb_checkpoints
*.sh
*.out
testing_pipeline-old.ipynb
/saved_logs
/downloads
downloads/
assas_data_downloader.log
*.log
*.txt
*.png
tips.md
explore_data.ipynb